process-api1/src/main/mule/process-api1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:order-details-api="http://www.mulesoft.org/schema/mule/order-details-api"
	xmlns:payments-api="http://www.mulesoft.org/schema/mule/payments-api" xmlns:products-api="http://www.mulesoft.org/schema/mule/products-api" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/products-api http://www.mulesoft.org/schema/mule/products-api/current/mule-products-api.xsd
http://www.mulesoft.org/schema/mule/payments-api http://www.mulesoft.org/schema/mule/payments-api/current/mule-payments-api.xsd
http://www.mulesoft.org/schema/mule/order-details-api http://www.mulesoft.org/schema/mule/order-details-api/current/mule-order-details-api.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b1367a65-ea14-4642-99c8-555b81a4a32a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<products-api:config name="Products_API_Config" doc:name="Products API Config" doc:id="296da4b7-5211-453a-8f7e-affa9a6b6b5c" property_host="product-project-shivam.us-e2.cloudhub.io" property_port="80" property_protocol="HTTP" property_basePath="/api" />
	<payments-api:config name="Payments_API_Config" doc:name="Payments API Config" doc:id="71664bdc-f9ba-4b02-8193-45f0212bb0ea" property_host="payment-project-shivam.us-e2.cloudhub.io" property_port="80" property_protocol="HTTP" property_basePath="/api" />
	<order-details-api:config name="OrderDetails_API_Config" doc:name="OrderDetails API Config" doc:id="99b16305-6ea7-47cd-a693-051ea480c196" property_host="orderdetailsapi-project-shrutihp.us-e2.cloudhub.io" property_port="80" property_protocol="HTTP" property_basePath="/api" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="cb1ac32f-0595-4f86-94bc-0c96f729f3dc" >
		<db:my-sql-connection host="34.69.36.42" port="3306" user="root" password="SHIvam665@@" database="Complain" />
	</db:config>
	<flow name="process-api1Flow" doc:id="675e7bb5-ae97-4587-95c2-aaf14ccbca97">
		<http:listener doc:name="Listener" doc:id="d5c4cfd3-179a-4837-8f6b-b2752de1ce51" config-ref="HTTP_Listener_config" path="/Process" allowedMethods="GET"/>
		<choice doc:name="Choice" doc:id="812ebdd9-58b9-4748-9af3-1ba726f3b66c" >
			<when expression='#[attributes.queryParams.Process=="Products"]'>
				<products-api:get-all-prducts doc:name="Get All Prducts" doc:id="1b9c743b-e503-44fa-a5fc-270df259697c" config-ref="Products_API_Config"/>
			</when>
			<when expression='#[attributes.queryParams.Process=="Payments"]'>
				<payments-api:get-all-payments-details doc:name="Get All Payments details" doc:id="eed7e8dc-71a4-45b5-bc74-9617ac978231" config-ref="Payments_API_Config"/>
			</when>
			<when expression='#[attributes.queryParams.Process== "OrderDetails"]'>
				<order-details-api:get-all-orders doc:name="Get All Orders" doc:id="eb5fcd12-e792-48f8-9ae0-af7e174fe252" config-ref="OrderDetails_API_Config" />
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message" doc:id="7c680c19-e59c-4f6b-b45e-def1793f6b5b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Give correct Parameters"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="bf2b3d02-c1e4-43e1-852f-882e6b855f3e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="GetProductDetailsByID-Flow" doc:id="f3e6114c-8f89-4724-b9d8-9068e49bebf7" >
		<http:listener doc:name="Listener" doc:id="896ed355-0ed5-448c-8b9f-6090a28000bd" config-ref="HTTP_Listener_config" path="/Products/{productCode}"/>
		<set-variable value="#[attributes.uriParams.productCode]" doc:name="code" doc:id="13ff046a-16f9-4979-bc50-179444fe93d0" variableName="code"/>
		<products-api:get-product-details-for-a-particular-id doc:name="Get Product details for a particular ID" doc:id="88775a52-dd74-48d8-8249-4f1eb498e80d" config-ref="Products_API_Config" product-code="#[vars.code]"/>
		<ee:transform doc:name="Transform Message" doc:id="36327533-afc7-40ba-85d6-37ec6b6afa3f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="GetPaymentDetailsByID-Flow" doc:id="2ec9d78f-5be2-465c-9570-8974b6ba2aca" >
		<http:listener doc:name="Listener" doc:id="c13e3e9f-e0af-4508-a91d-13369365fb74" config-ref="HTTP_Listener_config" path="/Payments/{customerNumber}"/>
		<set-variable value="#[attributes.uriParams.customerNumber]" doc:name="Number" doc:id="7c5f9d55-62b4-4a8c-974f-602d95629320" variableName="Number"/>
		<payments-api:get-payment-details-for-a-particular-id doc:name="Get Payment details for a particular ID" doc:id="b94e875b-cd0e-4296-bd82-120f067063d2" config-ref="Payments_API_Config" customer-number="#[vars.Number]"/>
		<ee:transform doc:name="Transform Message" doc:id="c08de2c4-eef7-4ec8-a39a-693933f3aafe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="DeleteProductByID-Flow" doc:id="2ddb2139-7939-4045-b45a-00528c13460f" >
		<http:listener doc:name="Listener" doc:id="d0fd1d99-b1de-4b86-8d85-950d769d9972" config-ref="HTTP_Listener_config" path="/DeleteProducts/{productCode}"/>
		<set-variable value="#[attributes.uriParams.productCode]" doc:name="deleteid" doc:id="deaf364b-a80e-49a0-b307-88134b0972df" variableName="deleteid"/>
		<products-api:delete-product-by-id doc:name="Delete Product by ID" doc:id="e5b605f4-8bc6-4631-b4d0-89ef43c1dec2" config-ref="Products_API_Config" product-code="#[vars.deleteid]"/>
		<ee:transform doc:name="Transform Message" doc:id="82792e39-daea-4908-923a-8ad79e89ccf2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="PostPaymentDetailsByID-Flow" doc:id="41d935eb-9622-48e9-af57-c8941ec086aa" >
		<http:listener doc:name="Listener" doc:id="2e0c972c-5a1a-4d0a-9aa8-e7aadff88de5" config-ref="HTTP_Listener_config" path="/AddPayments"/>
		<payments-api:post-payment doc:name="Post Payment" doc:id="f427a514-cf91-4d0f-9b9a-950d9ed3d6a8" config-ref="Payments_API_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="a5545f74-3ad0-4d34-a044-369dcc42d818" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="PostProductDetailsByID-Flow" doc:id="2d648ecf-eeb6-495f-bfbd-3856edcc8a7d" >
		<http:listener doc:name="Listener" doc:id="e30d4b2d-d56a-4f40-bbf1-88091727b144" config-ref="HTTP_Listener_config" path="/AddProducts"/>
		<products-api:post-product doc:name="Post Product" doc:id="3778aa44-de52-47e2-850a-500c5a04adfd" config-ref="Products_API_Config">
		</products-api:post-product>
		<ee:transform doc:name="Transform Message" doc:id="fc78a6fa-47b4-4b28-845d-38c92e32ce1a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getOrderDetailsByID-Flow" doc:id="5451e906-f6ee-4ad8-86c6-a05d5201d04d" >
		<http:listener doc:name="Listener" doc:id="e1b79915-e455-47bc-8774-bfa2a30d103d" config-ref="HTTP_Listener_config" path="/orderDetails/{orderNumber}"/>
		<set-variable value="#[attributes.uriParams.orderNumber]" doc:name="Number" doc:id="16e91e1c-77fd-45aa-a92b-e67a5ee635ba" variableName="Number"/>
		<order-details-api:get-order-details-for-a-particular-id doc:name="Get Order details for a particular ID" doc:id="7ad8414a-c207-4005-acf4-96e0d2dd1968" config-ref="OrderDetails_API_Config" order-number="#[vars.Number]"/>
		<ee:transform doc:name="Transform Message" doc:id="20a622b6-42c8-4934-9f82-08caa7b9d797" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
